.message {
    border-radius: 35px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 10%;
    text-align: right;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 10%;
    width:inherit;
}

.message.from table img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.message.from table h5 {
  display: inline;
}

.message.selection {
  background-color: #3F3F3F;
  color: #fff;
  margin-left: 10%;
  text-align: right;
}
.message.to + .message.to,
.message.from + .message.from,
.message.selection + .message.selection {
margin-top: -10px;
}

img {
  border-radius: 5%;
  max-width: 10rem;
  max-height: 15rem;
}

html, body {
  height: 100%;
  margin: 0; padding: 0;  /* to avoid scrollbars */
}

#wrapper {
  /* display: flex; */
  /* align-items: stretch; */
  max-height: 100vh;
  /* flex-direction: column; */
}

#header {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
  width: 100%;
}

#chatMessages {
  position: relative;
  padding-top: 55px;
  padding-bottom: 250px;
  /* flex: 1; */
  height: calc(100vh);
  /* border: 1px solid orange; */
  overflow-y: auto;
}

#user-input {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 250px;
  padding: 10px 10px 0 10px;
  background-color: white;
  /* background: lightblue; */
  align-content: top;
}

#user-input button {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
