.message {
    border-radius: 35px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 10%;
    text-align: right;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 10%;
    width:inherit;
}

.message.from table img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.message.selection {
  background-color: #3F3F3F;
  color: #fff;
  margin-left: 10%;
  text-align: right;
}
.message.to + .message.to,
.message.from + .message.from,
.message.selection + .message.selection {
margin-top: -10px;
}

img {
  display: block;
  border-radius: 8%;
}

.inline {
  display: inline;
}

img.small {
  max-width: 10rem;
  max-height: 15rem;
}

img.medium {
  max-width: 25rem;
}
html, body {
  height: 100%;
  margin: 0; padding: 0;  /* to avoid scrollbars */
}

#wrapper {
  max-height: 100vh;
}

#header {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
  width: 100%;
  border-bottom: 0.5px;
  box-shadow: 0 0.5px 1px -1px gray;

}

#chatMessages {
  position: relative;
  padding-top: 65px;
  padding-bottom: 250px;
  height: calc(100vh-65px-250px);
  overflow-y: auto;
}

#user-input {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 250px;
  padding: 10px 10px 0 10px;
  background-color: white;
  align-content: top;
}

#user-input button {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
