<h1>RavelBot</h1>

<ng-container *ngFor="let message of messages | async">

  <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
  'to':   message.sentBy === 'user',
  'selection': message.sentBy === 'selected' }">

  {{ message.content }}
</div>

</ng-container>

<ng-container *ngIf="currentPrompt.content.length > 0">

  <!-- <label for="nameField">Select One </label> -->
  <div class="message from">
    <table>
      <ng-container *ngFor="let option of currentPrompt.content">
        <tr (click)="formValue=option; selectOption()">
          <td>
            <img src={{option.imgURL}} />
          </td>
          <td>
            <h5>{{ option.title }}</h5> by {{option.designer}}
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</ng-container>


<ng-container *ngIf="currentPrompt.content.length == 0">

  <label for="nameField">Your Message</label>

  <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">

  <button (click)="sendMessage()">Send</button>

</ng-container>
