<h1>RavelBot</h1>

<ng-container *ngFor="let message of messages | async">

  <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user',
                                   'selection': message.sentBy === 'selector' }">
    {{ message.content }}
  </div>

</ng-container>

<ng-container *ngIf="currentPrompt.content.length > 0">

  <label for="nameField">Select One </label>
  <ng-container *ngFor="let option of currentPrompt.content">
    <button (click)="formValue=option; selectOption()">{{ option.title }} by {{option.designer}}</button>
  </ng-container>

</ng-container>

<ng-container *ngIf="currentPrompt.content.length == 0">

  <label for="nameField">Your Message</label>

  <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">

  <button (click)="sendMessage()">Send</button>

</ng-container>
